@media only screen and (max-width: 657px) {
    .headerContainer{
        display: flex;
        flex-wrap: wrap;
    }

}
@media only screen and (max-width: 515px) {
    .headerUl{
        display: flex;
        flex-wrap: wrap;
    }

}

.headerContainer{
display: flex;
justify-content: space-around;
padding: 20px;
/* background: #3B4149; */
align-items: center;
background-image: url('../../assets/images/body.jpg');


}

.headerUl{
    display: flex;
    gap: 34px;
    list-style: none;
}
.headerUl li{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}
.headerButon button{
  
    border: none;
    font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #FFFFFF;
    width: 98px;
height: 36px;
background: #1DA1F2;
border-radius: 100px;
}